
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.video-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.video-element{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login-container{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

}

.image-logo{
  padding: 1.25rem;
}

.google-button-whole{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.G-logo{
  margin-right: 1rem;
}