/* flex flex-col justify-between bg-white h-full overflow-y-scroll min-w-210 hide-scrollbar */

/* .sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    min-width: 210px;
} */
